body {
    background-color: #F0E68C;
}

hr {
    border-style: none;
    border-color: #FF8C00;
    border-top-style: dashed;
    border-width: 5px;
    width: 80%;
    
}

h1 {
    color: #FF8C00;
}

h1 {
    color: #FF8C00;
}